$primary-color: rgb(32, 30, 49);
$secondary-color: darkgoldenrod;
$primary-light: #3e3a5f;
$secondary-light: goldenrod;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

a
{
  text-decoration: none;
  color: $secondary-color;

  &:hover
  {
    color: $secondary-light;
    text-decoration: none;
  }
}

div{
  position: relative;
}

h2
{
  color: $secondary-color;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

*
{
  box-sizing: border-box;
}

table,
td,
tr,
tbody,
thead
{
  border-collapse: collapse;
}

div,
header
{
  box-sizing: border-box;
  position: relative;
}

body
{
  overflow: hidden;
  font-family: sans;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}


html
{
  overflow: auto;
}

#root
{
  min-height: 100vh;
}