.header-main
{
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  height: 50px;
  background-color: $primary-color;
  padding: 5px 15px;
  z-index: 10;

  h2 {
    margin-left: -20px;
  }

  .logo-link
  {
    *
    {
      display: inline-block;
      vertical-align: middle;
    }
    h2
    {
      margin:0;
      width: calc(100% - 40px);
    }
    .header-main-logo
    {
      height: 40px;
    }
  }
}