a {
  text-decoration: none;
  color: darkgoldenrod; }
  a:hover {
    color: goldenrod;
    text-decoration: none; }

div {
  position: relative; }

h2 {
  color: darkgoldenrod;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

* {
  box-sizing: border-box; }

table,
td,
tr,
tbody,
thead {
  border-collapse: collapse; }

div,
header {
  box-sizing: border-box;
  position: relative; }

body {
  overflow: hidden;
  font-family: sans;
  padding: 0;
  margin: 0;
  min-height: 100vh; }

html {
  overflow: auto; }

#root {
  min-height: 100vh; }

.header-main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #201e31;
  padding: 5px 15px;
  z-index: 10; }
  .header-main h2 {
    margin-left: -20px; }
  .header-main .logo-link * {
    display: inline-block;
    vertical-align: middle; }
  .header-main .logo-link h2 {
    margin: 0;
    width: calc(100% - 40px); }
  .header-main .logo-link .header-main-logo {
    height: 40px; }

.winrate-diamond {
  border: solid 4px cornflowerblue;
  background-color: #f0f4fd; }

.winrate-platinum {
  border: solid 4px cadetblue;
  background-color: #eff5f6; }

.winrate-gold {
  border: solid 4px gold;
  background-color: #fffbe6; }

.winrate-silver {
  border: solid 4px silver;
  background-color: #f9f9f9; }

.winrate-bronze {
  border: solid 4px saddlebrown;
  background-color: #fbebe0; }

.winrate-iron {
  border: solid 4px black;
  background-color: #e6e6e6; }

.icon {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #201e31; }
  @media (min-width: 576px) {
    .icon.champion-icon.size-big {
      transform: translate(15px, 15px); } }
  .icon div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-size: 110%;
    background-position: center;
    transform: scale(0.85); }
  .icon.size-small {
    width: 50px;
    height: 50px; }
    .icon.size-small .icon-name {
      display: none; }
  .icon.champion-tier-1 {
    background-color: silver; }
  .icon.champion-tier-2 {
    background-color: darkgreen; }
  .icon.champion-tier-3 {
    background-color: aqua; }
  .icon.champion-tier-4 {
    background-color: magenta; }
  .icon.champion-tier-5 {
    background-color: darkgoldenrod; }
  .icon.champion-tier-7 {
    background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%); }
  @media (max-width: 576px) {
    .icon.center-mobile {
      margin-left: 50%;
      transform: translateX(-50%); } }

.body-main {
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  background: #3e3a5f;
  min-height: 100vh; }

.def-container {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.33);
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px; }
  .def-container .def-container {
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px; }

.App {
  padding-top: 100px;
  min-height: 100vh;
  padding-left: 7%;
  padding-right: 7%; }
  @media (max-width: 768px) {
    .App {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 60px; } }

.App::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(50%) blur(6px) opacity(50%);
  transform: scale(1.02); }

.half-width {
  display: inline-block;
  width: 49%;
  padding: 15px; }
  @media (max-width: 576px) {
    .half-width {
      width: 100%; } }

.cap-height {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px; }
  .cap-height .cap-toggle {
    position: absolute;
    bottom: 0;
    left: 0; }
  .cap-height.cap-height-open {
    min-height: 50vh; }
  .cap-height.cap-height-closed {
    height: 50vh; }

.listing {
  height: 66px;
  padding: 4px; }
  .listing .listing-name {
    vertical-align: top;
    display: inline-block;
    max-width: calc(50% - 70px);
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%); }
  .listing .listing-place {
    position: absolute;
    right: 5px;
    top: 20%;
    float: right; }
  .listing .listing-winrate {
    position: absolute;
    right: 5px;
    bottom: 20%;
    float: right; }
  @media (max-width: 768px) {
    .listing {
      font-size: 0.8em; } }
  @media (max-width: 576px) {
    .listing {
      font-size: 1em; } }

.page-title {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 32px 0 32px calc(50% - 100px);
  transform: translateX(-50%);
  color: darkgoldenrod; }
  .page-title.page-title-no-icon {
    margin-left: 50%; }
  @media (max-width: 576px) {
    .page-title {
      display: inline-block;
      width: 100%;
      text-align: center;
      margin-left: 0 !important;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none; } }

.trait-container {
  text-align: center;
  height: 60px;
  margin-top: -30px; }

.trait-wrapper {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 20px; }
  @media (min-width: 576px) {
    .trait-wrapper {
      display: inline-block;
      height: 50px; } }
  .trait-wrapper .trait-wrapper-icon {
    vertical-align: top;
    margin-top: 25px;
    transform: translateY(-50%);
    height: 20px;
    filter: saturate(150) hue-rotate(45deg); }
  .trait-wrapper .trait-wrapper-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    transform: translateY(-50%);
    color: darkgoldenrod;
    margin-left: 8px; }

@media (min-width: 768px) {
  html {
    overflow-y: hidden; } }
.sample-waring {
  text-align: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  font-size: 13px; }
  .sample-waring.sample-waring-severe {
    background-color: orangered; }
  .sample-waring.sample-waring-mild {
    background-color: orange; }

/*# sourceMappingURL=style.css.map */
