@import "basic.scss";
@import "header.scss";
@import "mixins.scss";

.winrate-diamond
{
  $back: cornflowerblue;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);
}

.winrate-platinum
{
  $back: cadetblue;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);
}

.winrate-gold
{
  $back: gold;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);
}

.winrate-silver
{
  $back: silver;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);

}

.winrate-bronze
{
  $back: saddlebrown;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);
}

.winrate-iron
{
  $back: black;
  border: solid 4px $back;
  background-color: scale-color($back, $lightness: 90%);
}

.icon
{
  $size: 100px;
  border-radius: 50%;
  width: $size;
  height: $size;
  display: inline-block;

  @media (min-width: $breakpoint-mobile) {
    &.champion-icon.size-big {
      transform: translate(15px, 15px);
    }
  }

  background-color: $primary-color;

  div
  {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius: 50%;
    background-size: 110%;
    background-position: center;
    transform: scale(0.85);
  }

  &.size-small
  {
    $size: 50px;
    width: $size;
    height: $size;

    .icon-name
    {
      display: none;
    }
  }

  &.champion-tier-1
  {
    background-color: silver;
  }

  &.champion-tier-2
  {
    background-color: darkgreen;
  }

  &.champion-tier-3
  {
    background-color: aqua;
  }

  &.champion-tier-4
  {
    background-color: magenta;
  }

  &.champion-tier-5
  {
    background-color: darkgoldenrod;
  }

  &.champion-tier-7
  {
    background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);
  }

  &.center-mobile {
    @media (max-width: $breakpoint-mobile) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}

.body-main
{
  padding-top:75px;
  padding-left: 30px;
  padding-right: 30px;
  background: $primary-light;
  min-height: 100vh;
}

.def-container
{
  @include Shadow(2px);
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px;


  .def-container
  {
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    margin-left:7px;
    margin-right: 7px;
  }
}

.App
{
  padding-top: 100px;
  min-height: 100vh;
  padding-left: 7%;
  padding-right: 7%;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
  }
}

.App::before
{

  content: " ";
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(50%)blur(6px)opacity(50%);
  transform: scale(1.02);

}

.half-width
{
  display: inline-block;
  width: 49%;
  padding: 15px;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.cap-height
{
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;

  .cap-toggle
  {
    position: absolute;
    bottom:0;
    left:0;
  }

  &.cap-height-open
  {
    min-height: 50vh;
  }

  &.cap-height-closed
  {
    height: 50vh;

  }
}

.listing {

  height: 66px;
  padding: 4px;

  .listing-name {
    vertical-align: top;
    display: inline-block;
    max-width: calc(50% - 70px);
    position: absolute;
    top:50%;
    left:70px;
    transform: translateY(-50%);
  }

  .listing-place {
    position: absolute;
    right:5px;
    top:20%;
    float: right;
  }

  .listing-winrate {
    position: absolute;
    right:5px;
    bottom:20%;
    float: right;
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: 0.8em;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 1em;
  }
}

.page-title
{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 32px 0 32px calc(50% - 100px);
  transform: translateX(-50%);

  color: $secondary-color;

  &.page-title-no-icon
  {
    margin-left: 50%;
  }

  @media (max-width: $breakpoint-mobile) {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 0 !important;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
};

.trait-container
{
  text-align: center;
  height: 60px;
  margin-top: -30px;
}

.trait-wrapper
{
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 20px;

  @media (min-width: $breakpoint-mobile) {
    display: inline-block;
    height: 50px;
  }

  .trait-wrapper-icon
  {
    vertical-align: top;
    margin-top: 25px;
    transform: translateY(-50%);
    height: 20px;
    filter: saturate(150)hue-rotate(45deg);
  }

  .trait-wrapper-text
  {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    transform: translateY(-50%);
    color: $secondary-color;
    margin-left: 8px;
  }
}



@media (min-width: $breakpoint-tablet) {
  html {
    overflow-y: hidden;
  }
}

.sample-waring {
  text-align: center;
  color:white;
  border-radius: 50%;
  position: absolute;
  left:0;
  top:0;
  width:15px;
  height:15px;
  font-size: 13px;

  &.sample-waring-severe {
    background-color: orangered;
  }

  &.sample-waring-mild {
    background-color: orange;
  }
}